.fekit-layer {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  table-layout: fixed;
  z-index: 1000;
}

.fekit-layer-warp {
  position: relative;
  display: table-cell;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;

  &[data-pos='lt'] {
    &,
    * {
      text-align: left;
      vertical-align: top;
    }
  }

  &[data-pos='ct'] {
    &,
    * {
      text-align: center;
      vertical-align: top;
    }
  }

  &[data-pos='rt'] {
    &,
    * {
      text-align: right;
      vertical-align: top;
    }
  }

  &[data-pos='lm'] {
    &,
    * {
      text-align: left;
      vertical-align: middle;
    }
  }

  &[data-pos='cm'] {
    &,
    * {
      text-align: center;
      vertical-align: middle;
    }
  }

  &[data-pos='rm'] {
    &,
    * {
      text-align: right;
      vertical-align: middle;
    }
  }

  &[data-pos='lb'] {
    &,
    * {
      text-align: left;
      vertical-align: bottom;
    }
  }

  &[data-pos='cb'] {
    &,
    * {
      text-align: center;
      vertical-align: bottom;
    }
  }

  &[data-pos='rb'] {
    &,
    * {
      text-align: right;
      vertical-align: bottom;
    }
  }

  & > * {
    display: inline-block;
    pointer-events: auto;
    text-align: left;

    & > * {
      position: relative !important;
    }
  }
}
