// 显示动画
@keyframes am-show-ar {
  0% {
    transform: scale3d(1, 1, 1) translateY(30%);
    opacity: 0;
  }
  30% {
    transform: scale3d(1, 1, 1) translateY(-2%);
    opacity: 0.8;
  }
  50% {
    transform: scale3d(1, 1, 1) translateY(1%);
  }
  75% {
    transform: scale3d(1, 1, 1) translateY(-0.5%);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(0%);
    opacity: 1;
  }
}

// 隐藏动画
@keyframes am-hide-ar {
  0% {
    transform: scale3d(1, 1, 1) translateY(0%);
    opacity: 1;
  }
  50%,
  60% {
    transform: scale3d(1, 1, 1) translateY(5%);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(-30%);
    opacity: 0;
  }
}

// 引用显示
%am-show-ar {
  transform: scale(0.8, 0.8) translateY(100%);
  opacity: 0.8;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ar {
  transform: scale(1, 1) translateY(0);
  opacity: 1;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ar($time: 350ms, $delay: 100ms) {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ar;
      animation: am-show-ar $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ar;
      animation: am-hide-ar $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 350ms;
$delay: 100ms;

// 全套引用
[am-view="ar"] {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ar;
      animation: am-show-ar $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ar;
      animation: am-hide-ar $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}
