// 显示动画
@keyframes am-show-ak {
  0% {
    transform: rotate3d(0, 0, 1, 30deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, -1deg);
  }
  70% {
    transform: rotate3d(0, 0, 1, -1deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

// 隐藏动画
@keyframes am-hide-ak {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, 2deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, -30deg);
  }
}

// 引用显示
%am-show-ak {
  transform: rotate3d(0, 0, 1, 30deg);
  transform-origin: 50% 200%;
  transform-style: preserve-3d;
}

// 引用隐藏
%am-hide-ak {
  transform: rotate3d(0, 0, 1, 0deg);
  transform-origin: 50% 200%;
  transform-style: preserve-3d;
}

// 传参调用
@mixin am-view-ak($time: 500ms, $delay: 100ms) {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ak;
      animation: am-show-ak $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ak;
      animation: am-hide-ak $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}

// 动画时间
$time: 500ms;
$delay: 100ms;

// 全套引用
[am-view="ak"] {
  &.show,
  &[view="2"] {
    & > * {
      @extend %am-show-ak;
      animation: am-show-ak $time $delay both;
    }
  }

  &.hide,
  &[view="1"] {
    opacity: 0;
    transition: ($time + $delay) * (4/10) ($time + $delay) * (6/10);
    pointer-events: none;

    & > * {
      @extend %am-hide-ak;
      animation: am-hide-ak $time $delay both;
    }
  }

  &.none,
  &[view="0"] {
    display: none;
  }
}
